:root {
    --background-color: rgb(48, 49, 49);
    --text-color: rgb(255, 255, 255);
    --section-color: rgb(5, 25, 68);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, 'sans-serif';
    background-color: var(--background-color)
}

/* Navigation stuff */
.navigation {
    background-color: var(--section-color);
    padding: 5px;
}
.navigation h1 {
    position: relative;
    margin: 0 auto;
    font-family: 'Cordo', serif;
    padding: 5px;
}

.navigation nav ul {
    display: flex;
}

.navigation nav  ul li {
    border-left: var(--text-color) solid;
    padding: 5px;
}

.navigation nav ul li a {
    color:rgb(255, 255, 255);
    text-decoration-line: none;
}
/* End Navigation Stuff */

/* general section stuff */
section {
    padding: 10px;
}
/* End general section stuff */

/* overview section stuff */
.overview {
    background-color: rgb(35, 51, 85);
}
/* End overview section stuff */

/* footer stuff */
footer {
    background-color: var(--section-color);
}
/*End footer stuff */
